<h1>Listing Ideas</h1>


<table>
    <tr>
        <th>Title:</th>
        <th>Description:</th>
    </tr>
    <% @ideas.each do |idea| %>
        <tr>
            <td><%= idea.title %></td>
            <td><%= idea.description %> <br>
            <small>Created by: <strong><%= idea.user.username if idea.user%></strong> ,
                                <%= time_ago_in_words(idea.created_at) %> ago, <br>
                                Last updated: <%= time_ago_in_words(idea.updated_at) %> ago
            </small></td>
            <td><%= link_to 'Show', idea_path(idea) %></td>
            <% if logged_in? && (current_user == idea.user) %>
                <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
                <td><%= link_to 'Delete', idea_path(idea), method: :delete,
                data: { confirm: "Are you sure?"} %></td>
            <% end %>
        </tr>
    <% end %>
</table>