<h1>Showing Idea</h1>
<p>
Title: <%= @idea.title %>
</p>
<p>
Description: <%= @idea.description %>
</p>

<%# ========== REVIEWS GOES HERE: ============= %>

<%= form_with(model: @review, url: [@idea, @review], local: true) do |f| %>
        <%# Errors loop should be here!%> 

        <div align='center'>
        <h4 ><strong>Your Review:</strong></h4>
            <%= f.text_area(
            :body,
            cols: 100,
            rows: 5,
            placeholder: "What are your thoughts?"
            ) %>
            <br>
            <%= f.submit "Submit Review" %>
        </div>
<% end %>

    <ul>
        <% @reviews.each do |review| %>
            <li>
            <p>
                <%= review.body %> <br>
                <small>Created by: <strong><%= review.user.username if review.user%></strong>
                <%= time_ago_in_words(review.created_at) %> ago</small> <br>
                <% if logged_in? && (current_user == review.user) %>
                    <small>
                        <%= link_to(
                            "Delete",
                            idea_review_path(@idea.id, review.id),
                            method: :delete,
                            data: { confirm: "Are you sure?" }
                        ) %>
                    </small>
                <% end %>
            </p>
            </li>
        <% end %>
    </ul>